@model IEnumerable<NamaShow.Core.VeiwModels.Movie.Session.IndexOfSessionForAdmin>

@{
    ViewData["Title"] = "Index";
   string x = ViewBag.MovieId;
}

<div class="card-body">
    <h4 class="card-title btn btn-outline-primary btn-rounded btn-fw"> <a class="text-dark " href="Create?id=@x">Create New</a></h4>
    <h4 class="card-title">All Session</h4>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>SeasonNumber </th>
                <th> Show </th>
                <th>  </th>
                <th>Edit & Delete</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td> @item.SeasonNumber </td>
                    <td>
                        @item.Show
                    </td>
                    <td><a href="~/Admin/Episode/Index?id=@item.SeasonId"> Episodes</a></td>
               
                    <td>
                        <a href="Edit?id=@item.SeasonId"> Edit </a>

                        <a class="text-danger" href="Delete?id=@item.SeasonId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
