@model NamaShow.DataLayer.Entities.User;

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Username عزیز !</h2>
    <p>با تشکر از ثبت نام شما در نماشو ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44349/Landing/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
    </div>
